
<h1>Word Frequency Calculator</h1>
<p>Count the number of times a word appears in a block of text</p>
<p>There are many reasons to check word frequency, some reasons are to:</p>
<ul>
  <li>Reveal the writing style of the author</li>
  <li>Find word overuse</li>
  <li>Interpret the robustness of the writer's vocabulary</li>
  <li>Pull out major points and topics</li>
  <li>Understand the theme of the piece</li>
</ul>


<form action='/results' method='get'>
  <div class="form-group">
    <label for="word">Single Word:</label>
    <input id="word" name="word" class="form-control" type="text">
    <label for="text_block">Text  Block:</label>
    <input id="text_block" name="text_block" class="form-control" type="text">
  </div>
  <div class ="button">
    <button type="submit" class="btn btn-default btn-lg">Count</button>
  </div>
</form>


<p id="thesaurus">A thesaurus is your friend!</p>
