body {
  background-image: url("http://www.wordspin.dk/files/2011/08/Random_words.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 500px;
}

.faded {
  #background:#66FF33;
  background:rgba(500,500,500,0.8);
  margin: 12px;
  padding: 12px;
  border-radius: 10px;
  position:absolute;
  top:0px;
  left:0px;
  height:470px;
  right:100px;
}

html {
  #margin: 20px;
  #border-radius: 25px;
  #border: 3px solid #66FF33;
}

h1 {
  text-shadow: 2px 2px 8px #999999;
}


#thesaurus {
  text-align: center;
}
